<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        function deleteBoard(obj){
            var boardId = obj.dataset.id;
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/board/" + boardId;

            $.ajax({
                url      : url,
                type     : "DELETE",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert('삭제되었습니다.');
                    location.href='/boards';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else {
                        alert(jqXHR.responseText);
                        location.href='/boards';
                    }

                }
            });
        }

        function saveComment(obj){

            var boardId = obj.dataset.id;
            var commentContent = $("#commentContent").val();

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/board/" + boardId + "/comment";

            var paramData = {
                commentContent : commentContent
            };

            var commentFormDto = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : commentFormDto,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    location.href='/board/' + [[${boardId}]];
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function updateCommentView(obj){
            var commentId = obj.dataset.id;
            var commentContent = $("#commentContent").val();
            var boardId = $("#boardId").val();

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/board/" + boardId + "/comment/" + commentId;

            $.ajax({
                url      : url,
                type     : "GET",
                contentType : "application/json",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                alert("성공");
                    location.href='/board/' + [[${boardId}]];
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function updateComment(obj){
            var commentId = obj.dataset.id;
            var commentContent = $("#commentContentUpdate").val();
            var boardId = $("#boardId").val();

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/board/" + boardId + "/comment/" + commentId;

            var paramData = {
                commentId : commentId,
                commentContent : commentContent
            };

            var commentFormDto = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : commentFormDto,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    location.href='/board/' + [[${boardId}]];
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function deleteComment(obj){
            var boardId = $("#boardId").val();
            var commentId = obj.dataset.id;

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/board/" + boardId + "/comment/" + commentId;

            $.ajax({
                url      : url,
                type     : "DELETE",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    location.href='/board/' + [[${boardId}]];
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .wd50{
            height:auto;
            width:50%;
        }
    </style>
</th:block>

<div layout:fragment="content" style="margin-left:25%;margin-right:25%">

    <input type="hidden" id="boardId" th:id="boardId" th:value="${board.id}">

    <div class="container">

        <div class="">
            <div>

                <div class="h4" th:text="${board.boardTitle}"></div>
                <hr class="my-4">

                <table>
                    <td th:text="'작성자: ' + ${board.createdBy}"></td>
                    <td th:text="' | 등록일: ' + ${board.registerTime}"></td>
                    <td th:text="' | 조회수: ' + ${board.hits}"></td>
                </table>

                <hr class="my-4">

                <div class="jumbotron mgt-30">
                    <p class="lead" th:text="${board.boardContent}"></p>
                </div>
                <a th:href="'/board/'+${board.id}+'/edit'" class="btn btn-primary">수정</a>
                <button type="button" class="btn btn-primary" aria-label="Close">
                    <span aria-hidden="true" th:data-id="${board.id}" onclick="deleteBoard(this)">삭제</span>
                </button>
            </div>

        </div>

        <div class="text-center mt-3">

            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea" th:id="commentContent"></textarea>
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary" th:data-id="${board.id}" onclick="saveComment(this)">댓글 작성</button>
                </div>
            </div>

        </div>

        </br>

        <div th:each="comment : ${comments}" class="mb-3">
            <th:block th:if="${comment.status == 0}">
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" th:id="commentContentUpdate"></textarea>
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-primary" th:data-id="${comment.id}" onclick="updateComment(this)">댓글 수정</button>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${comment.status == 0}">
                <span class="h5" th:text="${comment.createdBy}"></span><br/>
                <span th:text="${comment.registerTime}"></span><br/><br/>
                <span th:text="${comment.commentContent}"></span><br/><br/>
                <span th:text="${comment.status}"></span><br/><br/>
                <button type="button" class="btn btn-primary" th:data-id="${comment.id}" onclick="updateCommentView(this)">수정</button>
                <button type="button" class="btn btn-primary" th:data-id="${comment.id}" onclick="deleteComment(this)">삭제</button>
            </th:block>
        </div>

    </div>

</div>

</html>